<app-pagina-padrao [conteudoCentralizado]="true">
    <span conteudo>

        <mat-card class="card mat-elevation-z8">
            <mat-card-title>Mandar mensagem no Zap</mat-card-title>

            <mat-card-content>
                <p>Esse é um simples projeto para mandar mensagens pelo zap!</p>

                <mat-divider inset></mat-divider>

                <mat-card-actions>

                    <app-whats-app></app-whats-app>

                </mat-card-actions>

            </mat-card-content>

        </mat-card>

    </span>
</app-pagina-padrao>