<section>
    <div class="content-principal">

        <mat-card class="card mat-elevation-z8">
            <mat-card-header>
                <mat-card-title>Bem-Vindo ao projeto Estudandinho!</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="colunas">
                    <!-- * Primeira coluna -->
                    <p>
                        Oioii Tudo bom?
                    </p>
                    <p>
                        Meu nome é Bruno!
                    </p>
                    <p>
                        Sou um jovem garoto iniciante no mundo da computação e na vida também hihi
                    </p>

                    <!-- * Segunda coluna -->

                    <p>
                        Tive a ideia desse projetinho para ser um local onde posso armazenar meus estudos e algumas
                        artesinhas
                    </p>

                    <p>
                        Espero que um dia esses estudos e artes possam ajudar alguém!
                    </p>


                </div>
                <mat-card-actions>

                    <div class="texto-icone">
                        <strong>
                            Divirta-se!
                        </strong>
                        <i class="material-icons-outlined">
                            sentiment_very_satisfied
                        </i>
                    </div>

                </mat-card-actions>
            </mat-card-content>

        </mat-card>

    </div>
</section>