.header {
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .titulo {
    cursor: pointer;
  }

  .title-group {
    padding-left: 25px;

    i {
      padding-right: 5px;
    }
  }
}

.sidenav {
  width: 250px;

  i {
    padding-right: 10px;
  }
}

footer {
  display: flex;
  position: fixed;
  bottom: 2vh;
}
